
/* -----最新消息----- */
.news{
    max-width: 1200px;
    margin: auto;
    /* background-color: #f00; */
}
.new{
    width: 100%;
    text-align: center;
    margin: 30px 0px;
    /* background-color: #ff0; */
}
.new h2::after{
    content: '';
    width: 0%;
    height: 2px;
    display: block;
    background-color: #f00;
    transition: .5s;
}
.new:hover h2::after{
    width: 100%;
}
.new:hover{
    background-color: #87c573;
}
/* -----最新消息----- */

